In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Read the data
df = pd.read_csv('C://Users//prave//Desktop//LaunchcodeW+//Prathibha-beginner-dec-2024-Sales-data-analysiss//synthetic_sales_dataset1.csv')

In [3]:
# info of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order ID            1000 non-null   object
 1   Date                1000 non-null   object
 2   Product ID          1000 non-null   object
 3   Product Name        1000 non-null   object
 4   Category            1000 non-null   object
 5   Quantity Sold       1000 non-null   int64
 6   Price per Unit      1000 non-null   float64
 7   Customer ID         1000 non-null   object
 8   Customer Age        1000 non-null   int64
 9   Customer Gender     1000 non-null   object
 10  Region              1000 non-null   object
 11  Total Sales Amount  1000 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 93.9+ KB

In [4]:
df.columns

Index(['Order ID', 'Date', 'Product ID', 'Product Name', 'Category',
       'Quantity Sold', 'Price per Unit', 'Customer ID', 'Customer Age',
       'Customer Gender', 'Region', 'Total Sales Amount'],
      dtype='object')

In [5]:
# missing data % for each feature.
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Order ID - 0%
Date - 0%
Product ID - 0%
Product Name - 0%
Category - 0%
Quantity Sold - 0%
Price per Unit - 0%
Customer ID - 0%
Customer Age - 0%
Customer Gender - 0%
Region - 0%
Total Sales Amount - 0%

In [6]:
df

,Order ID,Date,Product ID,Product Name,Category,Quantity Sold,Price per Unit,Customer ID,Customer Age,Customer Gender,Region,Total Sales Amount
0,d12a0955,5/25/2024,P6136,firm,Groceries,5,46.56,C1460,65,Male,North America,232.80
1,d0d0bc01,1/4/2024,P2733,community,Groceries,10,408.24,C1049,23,Other,North America,4082.40
2,dc50f91b,4/12/2024,P9496,friend,Toys,5,355.38,C9674,51,Other,Asia,1776.90
3,75e69090,5/19/2024,P6820,because,Furniture,9,153.64,C3773,56,Male,Asia,1382.76
4,f1850f2d,1/31/2024,P4080,family,Clothing,5,221.02,C3947,26,Female,South America,1105.10
...,...,...,...,...,...,...,...,...,...,...,...,...
995,87792dd0,10/8/2024,P1795,language,Clothing,2,50.81,C3755,21,Female,South America,101.62
996,6c45b8a9,11/27/2024,P3982,away,Clothing,1,218.99,C9947,68,Other,South America,218.99
997,d2887cd2,2/21/2024,P3261,big,Electronics,3,18.61,C4827,62,Male,Africa,55.83
998,65a15516,10/16/2024,P8429,face,Furniture,5,54.19,C6459,59,Other,Africa,270.95
999,7724d613,3/12/2024,P3679,top,Toys,9,96.11,C3865,23,Other,Africa,864.99

In [13]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
print(df)

     Order ID       Date Product ID Product Name     Category  Quantity Sold  \
0    d12a0955 2024-05-25      P6136         firm    Groceries              5
1    d0d0bc01 2024-04-01      P2733    community    Groceries             10
2    dc50f91b 2024-12-04      P9496       friend         Toys              5
3    75e69090 2024-05-19      P6820      because    Furniture              9
4    f1850f2d 2024-01-31      P4080       family     Clothing              5
..        ...        ...        ...          ...          ...            ...
995  87792dd0 2024-08-10      P1795     language     Clothing              2
996  6c45b8a9 2024-11-27      P3982         away     Clothing              1
997  d2887cd2 2024-02-21      P3261          big  Electronics              3
998  65a15516 2024-10-16      P8429         face    Furniture              5
999  7724d613 2024-12-03      P3679          top         Toys              9

     Price per Unit Customer ID  Customer Age Customer Gender         Region  \
0             46.56       C1460            65            Male  North America
1            408.24       C1049            23           Other  North America
2            355.38       C9674            51           Other           Asia
3            153.64       C3773            56            Male           Asia
4            221.02       C3947            26          Female  South America
..              ...         ...           ...             ...            ...
995           50.81       C3755            21          Female  South America
996          218.99       C9947            68           Other  South America
997           18.61       C4827            62            Male         Africa
998           54.19       C6459            59           Other         Africa
999           96.11       C3865            23           Other         Africa

     Total Sales Amount
0                232.80
1               4082.40
2               1776.90
3               1382.76
4               1105.10
..                  ...
995              101.62
996              218.99
997               55.83
998              270.95
999              864.99

[1000 rows x 12 columns]

In [19]:
# Categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns
print("Categorical Columns:", categorical_cols)

Categorical Columns: Index(['Order ID', 'Product ID', 'Product Name', 'Category', 'Customer ID',
       'Customer Gender', 'Region'],
      dtype='object')

In [20]:
# Numerical columns
numerical_cols = df.select_dtypes(include=['number']).columns
print("Numerical Columns:", numerical_cols)

Numerical Columns: Index(['Quantity Sold', 'Price per Unit', 'Customer Age',
       'Total Sales Amount'],
      dtype='object')

In [21]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool